.container-email-pricipal {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 250px;
}

.title-enviar-email {
    color: white;
    text-align: center;
    font-size: 30px;
}


@media (max-width: 500px) { 
    .title-enviar-email {
        font-size: 20px;
        width: 300px;
        
    }
    
}