.icons-cards{
   margin: auto;
   width: 60px;
   animation: float 2s ease-in-out infinite;
   position: relative;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); } 
  100% { transform: translateY(0px); }
}

#react {
   animation: rotate 8s linear infinite;
 }

 @keyframes rotate {
   0% {
     transform: rotate(0deg); 
   }
   100% {
     transform: rotate(360deg); 
   }
 }